#nav1 {
  float: left;
  display: inline;
}

#nav2 {
  float: right;
  padding-right: 40px;
  display: inline;
}

button {
  background-color: purple; 
  color: white;
  border-radius: 15px;
  padding: 5px;
}

#main {
  text-align: center;
  margin-top: 20%;
}

#main2 {
  display: block;
  text-align: center;
  margin-top: 20%;
}

#initialize {
  text-align: center;
}


#questionPage1{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

/*To display the list item without bullet points or numbers - from link: https://www.computerhope.com/issues/ch001704.htm*/
li {
  list-style: none;
}

#questionPage2{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

#questionPage3{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

#questionPage4{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

#questionPage5{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

#resultsPage{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}


/*The following media queries will allow the screen to be responsive*/
@media screen and (max-width: 640px) {
  }
  
  @media screen and (max-width: 768px) {
  }
  
  @media screen and (max-width: 980px) {
  }