#nav1 {
  float: left;
}

#nav2 {
  float: right;
  padding-right: 40px;
}

button {
  background-color: purple; 
  color: white;
  border-radius: 15px;
  padding: 5px;
}

#main {
  text-align: center;
  margin-top: 20%;
}

#main2 {
  display: block;
  text-align: center;
  margin-top: 20%;
}

#initialize {
  text-align: center;
}


#questionPage1{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

/*To display list items: (Link used: https://stackoverflow.com/questions/486211/ul-list-style-not-applying)*/
li{
  display: list-item;
}

#questionPage2{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

#questionPage3{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

#questionPage4{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}

#questionPage5{
  display: none;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
}




/*The following media queries will allow the screen to be responsive*/
@media screen and (max-width: 640px) {
    body {
      font-size: 12px;
      line-height: 23px;
    }
    #mainhead {
      position: static;
  }
  
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
      line-height: 25px;
    }
  }
  
  @media screen and (max-width: 980px) {
    body {
      font-size: 18px; 
      line-height: 27px; 
    }
  }